{% extends 'base.jinja' %}
{% block header %}
<style type="text/css">
    .container-main{
        margin-top: 20px;
        margin-left: 10px;
    }
    .container-data{
        margin-top: 20px;
    }
    h1, h2, h4, h5, hr { color: #fff; }
    h1 { margin-bottom: 25px;}
    #description h5 { color: #000; }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid container-main">
  <h1>{{asset.name}} | {{asset.symbol}}</h1>
  <h2 class="display-5"><span id="price">{{ '$'+"{:,.2f}".format(asset.price.live or asset.price.mock or asset.price.historic) }}</span></h2>
  <div class="container-fluid container-data">
    <div class="row">
      <div class="col-lg">
        <div class="timeframe-selector">
          <select id="timeselector" class="form-select-sm" onchange="chartUpdate()" aria-label="Timeframe">
            <option value="live">Live</option>
            <option selected value="{{day}}">1 day</option>
            <option value="{{thirty}}">30 days</option>
            <option value="{{ninty}}">90 days</option>
            <option value="{{year}}">1 year</option>
            <option value="all">All</option>
          </select>
        </div>
        <p>&nbsp;</p>
        <div class="border bg-light" id="chart"></div>
      </div>
      <div class="col-lg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md">&nbsp;</div>
          </div>
          <div class="row">
            <h4>About {{asset.name}}</h4>
            <hr>
          </div>
          {% if asset['website'] and asset['sector'] and asset['industry'] %}
          <div class="row p-2 bg-light">
            <div class="col-sm">
              <strong>Website:</strong>&nbsp;&nbsp;<a href="{{asset.website}}" target="_blank">{{asset.website}}</a>
            </div>
            <div class="col-sm">
              <strong>Sector:</strong>&nbsp;&nbsp;{{asset.sector}}
            </div>
            <div class="col-sm">
              <strong>Industry:</strong>&nbsp;&nbsp;{{asset.industry}}
            </div>
          </div>
          {% endif %}
          {% if asset.contact.phone and asset.contact.addr1 %}
            <div class="row p-2 bg-light">
              <div class="col-sm">
                <strong>Phone Number:</strong>&nbsp;&nbsp;{{asset.contact.phone}}
              </div>
              <div class="col-sm">
                <strong>Address:</strong>&nbsp;&nbsp;{{asset.contact.addr1}}{% if asset.contact.addr2 %}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{asset.contact.addr2}}{% endif %}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{asset.contact.addr3}}
              </div>
            </div>
          {% endif %}
          <div class="row">
            <div class="col-md">&nbsp;</div>
          </div>
          {% if asset.financial %}
            <div class="row">
              <h4>Financial Information:</h4><hr>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="flexbox">
                  
                  <div class="row bg-light">
                    {% if asset.financial.previous_close %}
                      <div class="col-sm p-2">
                        <span><strong>Close:</strong>&nbsp;&nbsp;${{'%0.2f' | format(asset.financial.previous_close)}}</span>
                      </div>
                    {% endif %}
                    {% if asset.financial.open %}
                      <div class="col-sm p-2">
                        <span><strong>Open:</strong>&nbsp;&nbsp;${{'%0.2f' | format(asset.financial.open)}}</span>
                      </div>
                    {% endif %}
                    {% if asset.financial.high %}
                      <div class="col-sm p-2">
                        <span><strong>High:</strong>&nbsp;&nbsp;${{'%0.2f' | format(asset.financial.high)}}</span>
                      </div>
                    {% endif %}
                    {% if asset.financial.low %}
                      <div class="col-sm p-2">
                        <span><strong>Low:</strong>&nbsp;&nbsp;${{'%0.2f' | format(asset.financial.low)}}</span>
                      </div>
                    {% endif %}
                    {% if asset.financial['52_week_high']%}
                      <div class="col-sm p-2">
                        <span><strong>52 Week High:</strong>&nbsp;&nbsp;${{'%0.2f' | format(asset.financial['52_week_high'])}}</span>
                      </div>
                    {% endif %}
                    {% if asset.financial['52_week_low']%}
                      <div class="col-sm p-2">
                        <span><strong>52 Week Low:</strong>&nbsp;&nbsp;${{'%0.2f' | format(asset.financial['52_week_low'])}}</span>
                      </div>
                    {% endif %}
                    {% if asset.financial['52_day_average']%}
                      <div class="col-sm p-2">
                        <span><strong>50 Day Average:</strong>&nbsp;&nbsp;${{'%0.2f' | format(asset.financial['50_day_average'])}}</span>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="row">
            <div class="col-md">&nbsp;</div>
          </div>
          {% if asset.description %}
            <div class="row">
              <h4>Description:</h4><hr>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="p-4 border bg-light" id="description">
                  <p>{{ asset.description }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">


  let chart = new ApexCharts(document.querySelector("#chart"), chartOptions);

  let trades = [];
  let live = false;

  function makeChartLive() {

    $.getJSON('/api/asset/{{asset.symbol}}/trades', (data) => {
        trades = [];
        for(let i=0; i<data.length; i++){
          trades.push([data[i].timestamp * 1000, parseFloat(data[i].price.toFixed(2))]);
        }
        trades.reverse();
        series = [{data:trades}];
        chart.updateSeries(series);
        live = true;
    });
  }

  function setChartTimeframe(timeframe) { 
    live = false;

    $.getJSON(`/api/asset/{{asset.symbol}}/history?start=${timeframe}`, (data) => {
      const barsPriceData  = barsToTimeseries(data);
      const newSeries = [{data:barsPriceData}];
      chart.updateSeries(newSeries);
    });
  }

  function showAllHistory() {
    live = false;

    $.getJSON('/api/asset/{{asset.symbol}}/history', (data) => {
      const barsPriceData  = barsToTimeseries(data);
      const newSeries = [{data:barsPriceData}];
      chart.updateSeries(newSeries);
    });
  }

  function chartUpdate(){
    const selection = $('#timeselector').val();

    if (selection === 'live') {
      makeChartLive();
    } else if(selection === 'all') {
      showAllHistory();
    } else {
      setChartTimeframe(selection);
    }
  }
  $(() => {
    chart.render();
    const socket = io();
    
    
    $.getJSON('/api/asset/{{asset.symbol}}/history?start={{day}}', (data) => {
      const barsPriceData  = barsToTimeseries(data);
      
      const series =  [{
                        name: 'Bars',
                        data: barsPriceData
                      }]

      chart.updateSeries(series);
      })
      

    socket.on('updates.{{asset.symbol}}', (event) => {
      const selector = '#price';
      $(selector).text(event.price.toFixed(2));
      if (event.price > price) {
        flashColorAndUpdateNumber(selector, GREEN_COLOR, 'white', price);
      } else if (event.price < price) {
        flashColorAndUpdateNumber(selector, RED_COLOR, 'white', price);
      }
      const timestamp = event.timestamp;
      price = event.price;
      
      if (live) {
        chart.appendData([{data: [[timestamp * 1000, parseFloat(price.toFixed(2))]]}]);
      }


    });
    
  });

</script>
{% endblock %}