{% extends 'base.html' %}
{% block header %}
<style type="text/css">
    .container-main{
        margin-top: 20px;
        margin-left: 10px;
    }
    .container-data{
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container-fluid container-main">
    <h1>{{asset.name}} | {{asset.symbol}}</h1>
    <h2 class="display-5">$ <span id="price"></span></h2>
    <div class="container-fluid container-data">
        <div class="row">
            <div class="col-lg">
                <div class="border bg-light" id="chart"></div>
            </div>
            <div class="col-lg">
                <div class="container-fluid">
                    <div class="row"><div class="col-md">&nbsp;</div></div>
                    <h4>About {{asset.name}}</h4><hr>
                    {% if asset['website'] and asset['sector'] and asset['industry'] %}
                      <div class="row p-2 bg-light">
                          <div class="col-sm">
                              <strong>Website:</strong>&nbsp;&nbsp;<a href="{{asset.website}}" target="_blank">{{asset.website}}</a>
                          </div>
                          <div class="col-sm">
                              <strong>Sector:</strong>&nbsp;&nbsp;{{asset.sector}}
                          </div>
                          <div class="col-sm">
                              <strong>Industry:</strong>&nbsp;&nbsp;{{asset.industry}}
                          </div>
                      </div>
                    {% endif %}
                    <div class="row"><div class="col-md">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-md">
                            <div class="p-4 border bg-light" id="description">
                                <h5>Description:</h5><hr>
                                {{ asset.description }}
                            </div>
                        </div> 
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(() => {
    const socket = io();
    let price;
    
    $.getJSON('/api/asset/{{asset.symbol}}/prices', (prices) => {
      let newPrice;
      if (prices.mock) {
        newPrice = prices.mock;
      } else {
        newPrice = prices.historic;
      }

      $('#price').text(newPrice.toFixed(2));
      price = parseFloat(newPrice.toFixed(2));
    });
    
    $.getJSON('/api/asset/{{asset.symbol}}/history?start={{ninty_days}}', (data) => {
      priceData = barsToTimeseries(data);
      console.log(priceData);
      var options = {
      chart: {
        type: 'line'
      },
      series: [{
        data: priceData
      }],
      xaxis: {
        type: 'datetime'
      }
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
    });

    socket.on('updates.{{asset.symbol}}', (event) => {
      $('#price').text(event.price.toFixed(2));
    });
    
  });

</script>
{% endblock %}