{% extends 'base.html' %}
{% block header %}
<style type="text/css">
    .container-main{
        margin-top: 20px;
        margin-left: 10px;
    }
    .container-data{
        margin-top: 30px;
        width: 95%;
    }
</style>
{% endblock %}
{% block body%}
<div class="container-fluid container-main">
    <h1>{{fund.name}}</h1>
    <h2 class="display-5">&nbsp;&nbsp;<span id="price"></span></h2>
    <div class="container-fluid container-data">
        <div class="row">
            <div class="col-lg border bg-light">
                <div id="chart"></div>
            </div>
        </div>
        <div class="row"><div class="col-lg spacer">&nbsp;</div></div>
        <div class="row">
            <div class="col-lg">
                <table class="table table-striped table-hover border bg-light">
                    <thead>
                      <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Name</th>
                        <th scope="col">Percentage</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for asset in fund.assets.values() %}
                        <tr>
                            <th scope="row">&nbsp;&nbsp;<a class="link-dark" href="/asset/{{asset.symbol}}">{{asset.symbol}}</a></th>
                            <td>{{asset.name}}</td>
                            <td id="{{asset.symbol}}-percentage">{{100*asset.percentage}}%</td>
                            <td>$ <span class="price" id="{{asset.symbol}}-price">{{ asset.price.mock or asset.price.historic }}</span></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row"><div class="col-lg spacer">&nbsp;</div></div>
        <div class="row">
            <div class="col-md">
                <div class="p-4 border bg-light" id="description">
                    <h5>Description:</h5><hr>
                    {{ fund.description }}
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    const prices = {};
    const symbols = [];
    let shares = 0;
    let lastTimestamp = 0;
    let lastBalance = 0;

    function sumPricesAndUpdateBalance() {
        var sum = 0;
        
        symbols.forEach((symbol) => {
            const percentage = parseFloat($(`#${symbol}-percentage`).text().slice(0, -1))/100;
            sum = percentage * prices[symbol] + sum;
        });

        const newBalance = parseFloat((sum*shares).toFixed(2));
        const formatter = Intl.NumberFormat(navigator.language, {style: 'currency', currency: 'USD'});
        $('#price').text(formatter.format(newBalance));

        if (newBalance > lastBalance) {
            flashGreen('#price');
        } else if(lastBalance > newBalance) {
            flashRed('#price');
        }
        lastBalance = newBalance;
    }
    
    $(() => {
        const socket = io();
        const assets = $('.price');
        
        for (let i=0; i < assets.length; i++) {
            let price = parseFloat(assets[i].textContent);
            assets[i].textContent = price.toFixed(2);
            let [symbol, _] = assets[i].id.split('-');
            symbols.push(symbol);
            prices[symbol] = price;
            socket.on('updates.'+symbol, (data) => {
                assets[i].textContent = data.price.toFixed(2);
                let selector = `#${assets[i].id}`;
                if (data.price > prices[symbol]) {
                    flashGreen(selector);
                } else if (data.price < prices[symbol]) {
                    flashRed(selector);
                }

                prices[symbol] = data.price;
                sumPricesAndUpdateBalance();
            });
        }

        var series = [];
        series.push($.getJSON('/api/account/{{account}}/{{fund.id}}/transactions?start={{ninty_days}}').then((data) => {
            
            const transactions = [];
            for (let i=0; i<data.length; i++) {
                let timestamp = data[i].timestamp * 1000;
                let value = parseFloat((data[i].balance * data[i].price).toFixed(2));
                transactions.push([timestamp, value]);
                
                if (lastTimestamp < timestamp) {
                    lastTimestamp = timestamp;
                    shares = data[i].balance;
                }
            }
            return transactions
        }));



        Promise.all(series).then((data) => {
            
            var options = {
                chart: {
                    type: 'line',
                    height: '500px'
                },
                series:[{name: 'Value',
                    data: data[0]}],
                xaxis: {
                    type: 'datetime'
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        });
    });
</script>
{% endblock %}