{% extends 'base.html' %}
{% block header %}
<style type="text/css">
    .container-main{
        margin-top: 20px;
        margin-left: 10px;
    }
    .container-data{
        margin-top: 30px;
        width: 95%;
    }
</style>
{% endblock %}
{% block body%}
<div class="container-fluid container-main">
    <h1>{{fund.name}}</h1>
    <h2 class="display-5">&nbsp;$ <span id="price">123456.78</span></h2>
    <div class="container-fluid container-data">
        <div class="row">
            <div class="col-lg border bg-light">
                <div id="chart"></div>
            </div>
        </div>
        <div class="row"><div class="col-lg spacer">&nbsp;</div></div>
        <div class="row">
            <div class="col-lg">
                <table class="table table-striped table-hover border bg-light">
                    <thead>
                      <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for asset in fund.assets.values() %}
                        <tr>
                            <th scope="row">&nbsp;&nbsp;<a class="link-dark" href="/asset/{{asset.symbol}}">{{asset.symbol}}</a></th>
                            <td>{{asset.name}}</td>
                            <td>1234</td>
                            <td class="price" id="{{asset.symbol}}-price">{{ asset.price.mock or asset.price.historic }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row"><div class="col-lg spacer">&nbsp;</div></div>
        <div class="row">
            <div class="col-md">
                <div class="p-4 border bg-light" id="description">
                    <h5>Description:</h5><hr>
                    {{ fund.description }}
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(() => {
        const socket = io();
        const prices = {};

        const assets = $('.price');
        let symbols = [];
        for (let i=0; i < assets.length; i++) {
            assets[i].textContent = parseFloat(assets[i].textContent).toFixed(2);
            let [symbol, _] = assets[i].id.split('-');
            symbols.push(symbol);
            socket.on('updates.'+symbol, (data) => {
                assets[i].textContent = data.price.toFixed(2);
            });
        }

        var series = [];
        for (let i=0; i< symbols.length; i++) {
            const symbol = symbols[i];

            series.push($.getJSON(`/api/asset/${symbol}/history?start={{ninty_days}}`).then((data) => {
                let timeseries = barsToTimeseries(data);
                let obj = {name:symbol, data:timeseries};
                return obj            
            }));
        }

        Promise.all(series).then((data) => {
            console.log(data);

            var options = {
                chart: {
                    type: 'line',
                    height: '500px'
                },
                series:data,
                xaxis: {
                    type: 'datetime'
                }
            }

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        });
    });
</script>
{% endblock %}