{% extends 'base.jinja' %}
{% block header %}
<style type="text/css">
    .container-main{
        margin-top: 20px;
        margin-left: 10px;
    }
    .container-data{
        margin-top: 30px;
        width: 99%;
    }
    h1 { margin-bottom: 25px; text-align: center; color:#fff;}
    .vss-form{padding-left: 3%; padding-right: 3%; padding-top:1%;}
</style>
{% endblock %}
{% block nav %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/overview">Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/research">Research</a>
    </li>
</ul>
<form class="d-flex" action="/research/ft">
    <input class="form-control me-2" type="search" name="query" placeholder="Text Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div>&nbsp;</div>
{% endblock %}
{% block body %}
<div class="container-fluid container-main">
    <h1>SEC 10K & Q Reports</h1>
    <div class="container-fluid container-data">
        <div class="row">
            <form class="d-flex vss-form" action="/research/vss">
                <input class="form-control me-2" type="search" name="query" placeholder="Similarity Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}